@using GymTrackerBot.Domain
@inject HttpClient Http

@if (metadata == null)
{
    <p><em>Loading build info...</em></p>
}
else
{
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Build Info</h5>
            <dl class="row">
                <dt class="col-sm-4">Commit Hash</dt>
                <dd class="col-sm-8"><code>@metadata.CommitHash</code></dd>

                <dt class="col-sm-4">Commit Message</dt>
                <dd class="col-sm-8">@metadata.CommitMessage</dd>

                <dt class="col-sm-4">Build Date</dt>
                <dd class="col-sm-8">@metadata.Date</dd>
            </dl>
        </div>
    </div>
}

@code {
    private BuildMetadata? metadata;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            metadata = await Http.GetFromJsonAsync<BuildMetadata>("buildinfo.json");
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Failed to load build metadata: {ex.Message}");
        }
    }
}